body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    footer {
        padding: 20px 0;
        text-align: center;
    }
}